/* Dark mode colors. */
:root {
    --sl-font: "Noto Sans", sans-serif;
    --sl-font-mono: "Noto Sans Mono", monospace;
    --sl-color-accent-low: #85677b;
    --sl-color-accent: #b565a7;
    --sl-color-accent-high: #be9cc1;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #f4dede;
    --sl-color-gray-2: #f8d7dd;
    --sl-color-gray-3: #f7caca;
    --sl-color-gray-4: #a49e9e;
    --sl-color-gray-5: #615f5f;
    --sl-color-gray-6: #27272a;
    --sl-color-black: #1c1425;
}

/* Light mode colors. */
:root[data-theme="light"] {
    --sl-color-accent-low: #be9cc1;
    --sl-color-accent: #b565a7;
    --sl-color-accent-high: #85677b;
    --sl-color-white: #1c1425;
    --sl-color-gray-1: #27272a;
    --sl-color-gray-2: #615f5f;
    --sl-color-gray-3: #a49e9e;
    --sl-color-gray-4: #f7caca;
    --sl-color-gray-5: #f8d7dd;
    --sl-color-gray-6: #f4eee8;
    --sl-color-gray-7: #f4dede;
    --sl-color-black: #ffffff;
}
