.td-page-meta__view { display: none; }
.td-page-meta__edit { display: none; }
.td-page-meta__child { display: none; }
.td-page-meta__issue { display: none; }
.td-page-meta__project-issue { display: none; }