+++
title = "buddhavacana"
linkTitle = "buddhavacana"

+++

{{< blocks/cover title="buddhavacana: The Word of the Buddha" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Explore <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/ChristineTham/buddhavacana">
		Source Code <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">This website documents my journey reading and studying Buddhist texts, primarily from the Pāli Canon (Tipiṭaka).</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
We do not know what the Buddha's native language was. Some scholars have speculated that it was either Magadhi or Magadhi-Prakrit considering his family background and where he was born. The Buddha probably preached the Dharma in Sanskrit and Pali, and today Pali is regarded as the canonical language of Buddhism.

I have always wanted to study Buddhism, and in particular the Pali Canon or Tipitaka, in Pali rather than translated into English. This website summarises what I have learnt. I have tried to use diagrams such as mind maps whenever possible, and link to the actual discourses available on [SuttaCentral](https://suttacentral.net)
{{% /blocks/lead %}}

{{< blocks/section type="section">}}
<div class="col">
<h1 class="text-center">Pāli Canon (Tipiṭaka)</h1>
The Pāli Canon is the standard collection of scriptures in the Theravada Buddhist tradition, as preserved in the Pāli language. It is generally accepted in Theravāda school of Buddhism as buddhavacana (The Word of the Buddha)
</div>
{{< /blocks/section >}}


{{< blocks/section >}}
{{% blocks/feature icon="fas fa-vihara" title="Vinaya Piṭaka" url="https://suttacentral.net/pitaka/vinaya" %}}
The Basket of Monastic Law detail the lifestyle, rules, and procedures for Buddhist monks and nuns.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-dharmachakra" title="Sutta Piṭaka" url="https://suttacentral.net/pitaka/sutta" %}}
The Buddha’s teachings on meditation, morality, the nature of the world, and the path to freedom. 
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-atom" title="Abhidhamma Piṭaka" url="https://suttacentral.net/pitaka/abhidhamma" %}}
Abhidhamma texts are systematic summaries and analyses of the teachings drawn from the earlier discourses. 
{{% /blocks/feature %}}


{{< /blocks/section >}}
