```mermaid
block-beta
  columns 8
  {{ .Inner }}
  {{ if eq (.Get 0) "" }}
    Previous["{{ .Page.Scratch.Get "Previous" }}"]
    class Previous context0
  {{ else if eq (.Get 0) "space"}}
    space
  {{ else }}
    Previous["{{ .Get 0 }}"]
    class Previous context
    {{ .Page.Scratch.Set "Previous" (.Get 0) }}
  {{ end }}
  block:operation:4
    columns 4
    {{ if eq (.Get 1) "" }}
      Before("{{ .Page.Scratch.Get "Before" }}")
      class Before pre0
    {{ else if eq (.Get 1) "space"}}
      space
    {{ else }}
      Before("{{ .Get 1 }}")
      class Before pre
      {{ .Page.Scratch.Set "Before" (.Get 1) }}
    {{ end }}
    space:2
    {{ if eq (.Get 3) "" }}
      After("{{ .Page.Scratch.Get "After" }}")
      class After post0
    {{ else if eq (.Get 3) "space"}}
      space
    {{ else }}
      After("{{ .Get 3 }}")
      class After post
      {{ .Page.Scratch.Set "After" (.Get 3) }}
    {{ end }}
    Before--"{{ .Get 2 }}"-->After
  end
  {{ if eq (.Get 4) "" }}
    Next["{{ .Page.Scratch.Get "Next" }}"]
    class Next context0
  {{ else if eq (.Get 4) "space"}}
    space
  {{ else }}
    Next["{{ .Get 4 }}"]
    class Next context
    {{ .Page.Scratch.Set "Next" (.Get 4) }}
  {{ end }}
  {{ if eq (.Get 5) "" }}
    Marker[/"{{ .Page.Scratch.Get "Marker" }}"\]
    class Marker mod10
  {{ else if eq (.Get 5) "space"}}
    space
  {{ else }}
    Marker[/"{{ .Get 5 }}"\]
    class Marker mod1
    {{ .Page.Scratch.Set "Marker" (.Get 5) }}
  {{ end }}
  {{ if eq (.Get 6) "" }}
    Semantic[\"{{ .Page.Scratch.Get "Semantic" }}"/]
    class Semantic mod20
  {{ else if eq (.Get 6) "space"}}
    space
  {{ else }}
    Semantic[\"{{ .Get 6 }}"/]
    class Semantic mod2
    {{ .Page.Scratch.Set "Semantic" (.Get 6) }}
  {{ end }}
  class arrow operation
  classDef context fill:#D2C4D6,stroke:#615F5F
  classDef context0 fill:#D2C4D6,stroke:#A49E9E,stroke-dasharray: 3 3
  classDef operation fill:#64BFA4,stroke:#615F5F
  classDef operation0 fill:#64BFA4,stroke:#615F5F,stroke-dasharray: 3 3
  classDef pre fill:#64BFA4,stroke:#615F5F
  classDef pre0 fill:#64BFA4,stroke:#615F5F,stroke-dasharray: 3 3
  classDef post fill:#3CADD4,stroke:#615F5F
  classDef post0 fill:#3CADD4,stroke:#615F5F,stroke-dasharray: 3 3
  classDef mod1 fill:#EADA4F,stroke:#615F5F
  classDef mod10 fill:#EADA4F,stroke:#615F5F,stroke-dasharray: 3 3
  classDef mod2 fill:#F7CACA,stroke:#615F5F
  classDef mod20 fill:#F7CACA,stroke:#615F5F,stroke-dasharray: 3 3
```