```mermaid
block-beta
  columns 8
  {{ .Inner }}
  classDef context fill:#D2C4D6,stroke:#615F5F
  classDef context0 fill:#D2C4D6,stroke:#A49E9E,stroke-dasharray: 3 3
  classDef operation fill:#64BFA4,stroke:#615F5F
  classDef operation0 fill:#64BFA4,stroke:#615F5F,stroke-dasharray: 3 3
  classDef pre fill:#64BFA4,stroke:#615F5F
  classDef pre0 fill:#64BFA4,stroke:#615F5F,stroke-dasharray: 3 3
  classDef post fill:#3CADD4,stroke:#615F5F
  classDef post0 fill:#3CADD4,stroke:#615F5F,stroke-dasharray: 3 3
  classDef mod1 fill:#EADA4F,stroke:#615F5F
  classDef mod10 fill:#EADA4F,stroke:#615F5F,stroke-dasharray: 3 3
  classDef mod2 fill:#F7CACA,stroke:#615F5F
  classDef mod20 fill:#F7CACA,stroke:#615F5F,stroke-dasharray: 3 3
```